---
# tasks file for mapr-aws-bootstrap

  - name: create nodes for non-cluster roles
    action:
      module: ec2
      region: '{{item.value.region}}'
      zone: '{{item.value.zone}}'
      spot_price: '{{item.value.edge_node_price}}'
      key_name: '{{item.value.keypair}}'
      group: '{{item.value.security_group}}'
      image: '{{item.value.image}}'
      vpc_subnet_id: '{{item.value.vpc_subnet}}'
      assign_public_ip: '{{item.value.assign_public_ip}}'
      instance_type: '{{item.value.edge_node_type}}'
      exact_count: '{{item.value.edge_node_count}}'
      count_tag:
        Name: '{{cluster_name}}'
        nodetype: edge
        user: '{{item.value.keypair}}'
      wait: yes
      wait_timeout: '{{item.value.spot_wait_timeout|default(300)}}'
      spot_wait_timeout: '{{item.value.spot_wait_timeout|default(900)}}'
      volumes: '{{item.value.edge_node_volumes}}'
      monitoring: yes
      placement_group: '{{item.value.placement_group}}'
      instance_tags:
        Name: '{{cluster_name}}'
        nodetype: edge
        user: '{{item.value.keypair}}'
    register: external
    with_dict: '{{ec2_regions}}'

  - debug: var=external

  - name: update inventory file
    template: src=inventory.py.j2 dest=./inventory.py mode=0700 backup=no
    when: external|changed


  - name: create cluster nodes
    action:
      module: ec2
      region: '{{item.value.region}}'
      zone: '{{item.value.zone}}'
      spot_price: '{{item.value.cluster_node_price}}'
      key_name: '{{item.value.keypair}}'
      group: '{{item.value.security_group}}'
      image: '{{item.value.image}}'
      vpc_subnet_id: '{{item.value.vpc_subnet}}'
      assign_public_ip: '{{item.value.assign_public_ip}}'
      instance_type: '{{item.value.cluster_node_type}}'
      exact_count: '{{item.value.cluster_node_count}}'
      count_tag:
        Name: '{{cluster_name}}'
        nodetype: cluster
        user: '{{item.value.keypair}}'
      wait: yes
      wait_timeout: '{{item.value.spot_wait_timeout|default(300)}}'
      spot_wait_timeout: '{{item.value.spot_wait_timeout|default(900)}}'
      volumes: '{{item.value.cluster_node_volumes}}'
      monitoring: yes
      placement_group: '{{item.value.placement_group}}'
      instance_tags:
        Name: '{{cluster_name}}'
        nodetype: cluster
        user: '{{item.value.keypair}}'
    register: ec2_cluster
    with_dict: '{{ec2_regions}}'

  - debug: var=ec2_cluster

  - name: update inventory file
    template: src=inventory.py.j2 dest=./inventory.py mode=0700 backup=no

  #- name: save hosts file
  #  run_once: yes
  #  local_action: template src=hosts.j2 dest='./hosts_entry' mode=0644 backup=no
