{% macro render_group(results) %}
{% for result in results %}
	{% for instance in result.instances %}
		{% do nodes.append(instance) %}
	{% endfor %}
{{instance.private_ip}} instance_id={{instance.id}}
{% endfor %}
{% endmacro %}

[cluster]
{{render_group(ec2_cluster.results)}}

[hiveserver]
{{render_group(ec2_cluster.instances[1:2])}}

[hbasemaster]
{{render_group(ec2_cluster.instances[1:4])}}

[regionserver]
{{render_group(ec2_cluster.instances)}}

[hue]
{{render_group(external.instances)}}

[impalastatestore]
{{render_group(ec2_cluster.instances[3:4])}}

[impalacatalog]
{{render_group(ec2_cluster.instances[3:4])}}

[impalaserver]
{{render_group(ec2_cluster.instances[3:6])}}

[jobtracker]
{{render_group(ec2_cluster.instances[3:5])}}

[resourcemanager]
{{render_group(ec2_cluster.instances[3:4])}}

[webserver]
{{render_group(ec2_cluster.instances[1:3])}}

[tasktracker]
{{render_group(ec2_cluster.instances)}}

[metrics]
{{render_group(ec2_cluster.instances[1:3])}}

[zookeepers]
{{render_group(ec2_cluster.instances[0:3])}}

[cldb]
{{render_group(ec2_cluster.instances[0:3])}}

[nfs]
{{render_group(ec2_cluster.instances)}}

[fileserver]
{{render_group(ec2_cluster.instances)}}

[edge]
{{render_group(external.instances)}}

[spark_master]
{{render_group(ec2_cluster.instances[0:1])}}

[spark_slave]
{{render_group(ec2_cluster.instances)}}

[opentsdb]
{{render_group(ec2_cluster.instances[1])}}
